<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculadoraSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CalculadoraSoap1" />
                <binding name="CalculadoraSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44388/Calculadora.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculadoraSoap" 
                contract="ServiceReference1.CalculadoraSoap" name="CalculadoraSoap" />
            <endpoint address="http://metalfamily.somee.com/Calculadora.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculadoraSoap2"
                contract="ServiceReference2.CalculadoraSoap" name="CalculadoraSoap1" />
        </client>
    </system.serviceModel>
</configuration>